@charset "utf-8";
/*
em html é id = css é # (so pode um elemento)
em html é class = em css é . (pode varios elementos)
*/

 body {
    background-color: rgb(118, 143, 118);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(17, 121, 48);
}

h1#principal {
    text-align: center;
    background-color: rgb(17, 121, 48);
    color: white;
}

h2 {
    color: rgb(51, 133, 88);
}

.basico { 
    color: rgb(51, 133, 88);
    font-weight: bold;
}

.intermediario {
    color: rgb(171, 221, 53);

}

.avançado {
    color: rgb(240, 76, 54);
}

.destaque {
    background-color: rgb(221, 221, 96);
}